<header class="header">
  <div class="header__logo">
    <img src="assets/images/logo.jpg" alt="Логотип">
  </div>
  <div class="header__menu">
    <p class="header__text">Главная</p>
    <p class="header__text">Автомобили</p>
    <p class="header__text">Бронирование авто</p>
  </div>
</header>
<section class="main" [ngStyle]="bgPos">
  <div class="main__container">
    <h1 class="main__title">Аренда премиальных автомобилей</h1>
    <p class="main__text">
      В нашем клубе имеется солидная коллекция спортивных<br>
      автомобилей — от достаточно распространенных серийных<br>
      машин до настоящего гоночного эксклюзива. Воспользуйтесь<br>
      уникальной возможностью побывать за рулем настоящей<br>
      легенды и узнать, на что она способна за пределами гоночной<br>
      трассы!
    </p>
    <button class="main__button" (click)="goScroll(cars)">Посмотреть автомобили</button>
  </div>
</section>
<section class="car" #cars>
  <h2 class="car__title">Наш автопарк</h2>
  <div class="car__toggle">
    <div [ngClass]="{active: category === 'sport'}" (click)="toggleCategory('sport')">Sport</div>
    <div [ngClass]="{active: category === 'luxury'}" (click)="toggleCategory('luxury')">Luxury</div>
  </div>
  <div class="car__table">
    <div class="car__cell" *ngFor="let car of carsData">
      <img src="{{car.image}}" alt="Машина" class="car__image">
      <h3 class="car__name">{{car.name}}</h3>
      <div class="car__container">
        <div class="car__item">
          <img src="assets/images/transmission.png" alt="" class="car__tech">
          <p class="car__text"><span class="car__span">Коробка - </span>{{car.box}}</p>
        </div>
        <div class="car__item">
          <img src="assets/images/Group.svg" alt="" class="car__tech">
          <p class="car__text"><span class="car__span">Двигатель</span> {{car.engine}} л.с.</p>
        </div>
        <div class="car__item">
          <img src="assets/images/year.png" alt="Year" alt="" class="car__tech">
          <p class="car__text"><span class="car__span">Год выпуска<br></span>{{car.year}}</p>
        </div>
      </div>
      <button class="car__button" (click)="goScroll(price, car)">Забронировать</button>
    </div>
  </div>
</section>
<section class="price" #price>
  <h2 class="price__title">Узнать цену и забронировать</h2>
  <p class="price__text">Заполните данные,
    и мы перезвоним вам для уточнения
    всех деталей бронирования
  </p>
  <form class="price__form" [formGroup]="priceForm">
    <input type="text" class="price__input" id="name" placeholder="Ваше имя" formControlName="name">
    <input type="text" class="price__input" id="phone" placeholder="Ваш телефон"formControlName="phone">
    <input type="text" class="price__input" id="car" placeholder="Автомобиль, который вас интересует"formControlName="car">
    <button class="price__button" type="submit" (click)="onSubmit()" [disabled]="!priceForm.valid">Узнать цену</button>
  </form>
  <img src="assets/images/rolls.jpg" alt="Rolls" class="price__car" [ngStyle]="trans">
</section>
<footer class="footer">
  <div class="footer__logo">
    <img src="assets/images/logo.jpg" alt="Логотип">
  </div>
  <p class="footer__text">Все права защищены</p>
</footer>
